@model ITMO.ASPCourse.MVC.Lab03.Lab04.Lab05.Lab06.Lab08.Models.Person

@{
    //Layout = "~/Views/_BasicLayout.cshtml";
}

    <div>
        <h1>Здравствуйте, @Model.ToString()!</h1>
        <p>
            @Html.ActionLink("На главную", "Index")
        </p>
    </div>
