@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Welcome to School Manager Portal</h1>
    <p>This site is designed for entering student's score and monitoring a total Ratio at school.</p>
    <p>The navigation menu items located above will assist you to manage this App.</p>
    <p>Have a pleasant day!:)</p>
    <p>If there's any question:'</p>
    <p>Email address:<a href="mailto:fil.maksimov.1998@bk.ru" style="color:red; padding-left:5px">fil.maksimov.1998@bk.ru</a></p>
</div>