@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Welcome to School Manager Portal</h1>
    <p>This site is designed for entering student's score and monitoring a total Ratio at school.</p>
    <p>The navigation menu items located above will assist you no manage this App.</p>
    <p>Have a pleasant day!:)</p>
</div>